# Credenziali Discord
DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID= # Opzionale, per registrare comandi solo su un server specifico

# Credenziali Cloudflare AI
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# (Opzionale) Easter Egg con parola segreta
SECRET_WORD=
SECRET_RESPONSE=